<div class="back-button">
  <div (click)="backToAddAlarm()">
    <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
  </div>
</div>
<div class="config-button">
  <div (click)="showConfig()">
    <ion-icon slot="icon-only" name="cog"></ion-icon>
  </div>
</div>
<div class="gps-button">
  <div (click)="goToMyLocation()">
    <ion-icon slot="icon-only" name="locate"></ion-icon>
  </div>
</div>
<app-search-address 
  class="search-button"
  (fly)="flyTo($event)"
></app-search-address>
<div class="save-button">
  <div color="colorD9918B" (click)="backToAddAlarm()">
    <p>Guardar</p>
  </div>
</div>
<div id="map" style="width: 100%;height: 100%;">
</div>