<ion-list lines="full">
  <ion-list-header>
    <ion-label>
      <ion-icon name="alarm" item-start></ion-icon>
      Alarms
    </ion-label>
  </ion-list-header>
  <ion-item-sliding *ngFor="let alarm of alarms">
    <ion-item >
      <ion-label (click)="editItemAlarm()">
        <h3>{{alarm.name}}</h3>
        <p>L-M-M-J-V-S-D</p>
      </ion-label>
      <ion-toggle (click)="changeAlarmStatus()"></ion-toggle>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option color="danger" expandable (click)= "deleteAlarm()">
        <ion-icon name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>