<ion-app>
  <ion-split-pane>
    <ion-menu>
      <div class="main-menu">
        <ion-icon name="contact"></ion-icon>
        <label>Sing in</label>
      </div>
      <ion-content>
        <ion-item-divider>
          <ion-list class="list-menu">
            <div auto-hide="false" *ngFor="let p of appPages.mainSection" [routerDirection]="'root'" [routerLink]="[p.url]">
              <div class="element-menu-list">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <label>
                  {{p.title}}
                </label>
              </div>
            </div>
          </ion-list>
        </ion-item-divider>
        <ion-item-divider>
          <ion-list class="list-menu">
            <div auto-hide="false" *ngFor="let p of appPages.secondarySection" [routerDirection]="'root'" [routerLink]="[p.url]">
              <div class="element-menu-list">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <label>
                  {{p.title}}
                </label>
              </div>
            </div>
          </ion-list>
        </ion-item-divider>
        <ion-item-divider>
          <ion-list class="list-menu">
            <div auto-hide="false" *ngFor="let p of appPages.configurationSection" [routerDirection]="'root'" [routerLink]="[p.url]">
              <div class="element-menu-list">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <label>
                  {{p.title}}
                </label>
              </div>
            </div>
          </ion-list>
        </ion-item-divider>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main> </ion-router-outlet>
  </ion-split-pane>
</ion-app>
